<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 10px;

}
</style>
 <div id="edit-cat" class="modal fade" data-target=".bs-example-modal-sm" role="modal">8
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
  <!-- 编辑框 -->
        <div class="cat-edit">
            <div class="modal-header">
            <h4>{$Think.Lang.new_member}</h4>
            </div>
            <input type="hidden" id="item_id" value="{$item_id}">
            <div class="modal-body">
                <form class=" form-group">
                    <label class="control-label" for="inputEmail">{$Think.Lang.username}</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="username" placeholder="{$Think.Lang.username}" value="">
                  </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default" id="save-cat">{$Think.Lang.save}</button>
                  </div>
                </form>

            </div>
           
          </div>
        <!-- 成员列表 -->
        <div class="cat-list">
          <div class="modal-header">
          <h4>{$Think.Lang.member_list}&nbsp;<small>（{$Think.Lang.click_to_delete}）</small></h4>
          </div>
          <div id="show-cat">

          <br>
          <br>
          </div>
        </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-default exist-cat">{$Think.Lang.close}</a>
          </div>
      </div>
    </div>
 </div>
 <include file="Common/footer" />
<script src="__PUBLIC__/js/member/edit.js?v=1"></script>
